@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

:root {
    --primary: #db5c01;
    --secondary: #683a19;
    --tertiary: #008e49;
    --quaternary: #F52E2E;
  }

body{
    background: var(--primary);
    background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;;
}

.label{
    width: 600px;
    height: 222px;
    color: #ffffff;
    margin-top: 30px;
}

.title{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.text{
    font-size: 30px;
    font-weight: 400;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 680px;
    height: 756px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #000000a6;
    background-color: #ffffff;
}

.input{
    width: 596px;
    height: 70px;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid #00000088;
    border-radius: 10px;  
}

.area{
    width: 600px;
    height: 200px;
    resize: none;
}

.warning{
    font-size: 14px;
    font-weight: 700;
    color: var(--quaternary);
    align-self: flex-start;
    padding-left: 45px;
    margin-top: -20px;
    opacity: 0;
}

.mandatory{
    align-self: flex-start;
    font-size: 25px;
    padding-left: 30px;
    font-weight: 400;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 596px;
    height: 82px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    background-color: var(--tertiary);
    color: #ffffff;
}

.loading{
    display: none;
    width: 70px;
}

.waiting{
    display: block
}

.sended{
    display: none;
}

.button:hover{
    opacity: 0.9;
}

.complete{
    border: 2px solid var(--tertiary);
}

.warning.void{
    opacity: 1;
}

.input.void{
    border: 2px solid var(--quaternary);
}
